body {
    padding: 0px;
    margin: 0;
    background-color: rgb(5, 5, 5);

}

nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background: black;
    height: 10vh;
    position: fixed;
    width: 100%;
    overflow: hidden;
}

nav a {
    margin: auto 35px auto 85px;
    text-decoration: none;
    font-weight: bold;
}

nav a {
    float: left;
    list-style: none;
    margin-left: 20px;
    color: white;
}

.inicio {
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

img#img_principal {
    height: 100%;
    width: 100%;
    background-size: cover;
}


footer {
    font-size: 12px;
    padding: 3px;
    background-color: rgb(7, 7, 7);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: white;

}